version: "3"
services:
  mongo:
    image: mongo
    ports:
    - "27017:27017"
  api:
    build: ./BACKEND
    ports:
    - "3000:3000"
    depends_on:
    - mongo
    command: node app.js
  web:
    build: ./frontend
    ports:
    - "4200:4200"
    links:
    - api